target/

.mvn/wrapper/maven-wrapper.jar

.idea/
*.iml
*.iws
*.ipr

.settings/
.classpath
.project
.factorypath
.apt_generated/
.springBeans
.sts4-cache/

.vscode/

.DS_Store
Thumbs.db

*.log

application-local.properties
application-local.yml
*.env
